﻿@model Tic_Tac.Models.Model1
@{ 
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
     <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <h2>tic tac</h2>
        @Html.TextBoxFor(n => n.TicId)
        <br /><br />
        <input type="submit" value="enter here" />


    }

    @for (int i = 1; i <=Model.TicId; i++)
    {
        if (i % 3 == 0 && i % 5 == 0)
        {
    <p>Tic Tac</p>
        }
        else if (i % 3 == 0)
        {
    <p>Tic</p>
        }
        else if (i % 5 == 0)
        {
    <p>Tac</p>
        }
    }
    </body>
    </html>
    



